$fa-font-path: '../dist/fonts/';
$slick-loader-path: '../dist/slick/';

$link-color: inherit;
$link-hover-color: inherit;
$link-hover-decoration: none;

// colors
$color1: #396d7e;
$color2: #f6f3f0;
$color3: #f6f3f0;
$white: #FFFFFF;
$gray: #6f6f6f;
$black: #181716;

// default bootstrapwit
$body-color: #181716;
$text-link-color: $color1;
$font-size-base: 1rem;

$font-text: 'Poppins', sans-serif;
$font-title-1: 'Playfair Display', serif;
$font-title-2: 'Poppins', sans-serif;