<footer class="footer-main">
    <div class="footer-bg">
        <div class="footer-holder">
{#            <div class="row justify-content-center back-to-top bg-btt" style="z-index: 10000;">#}
{#                <button class="back-to-top">#}
{#                    <a href="#s0" class="d-block" style="z-index: 10000;position: relative">#}
{#                        <img src="{{ site.theme.link }}/img/icon_to_top.png" alt="">#}
{#                    </a>#}
{#                </button>#}
{#            </div>#}
            <div class="container ">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-8 col-sm-6 mt-2">
                        <h2>Nettt Interactieve Media</h2>
                        <p>Nettt interactieve media is een bedrijf uit Herkenbosch dat zich vooral bezighoudt met het realiseren van webdesign, web development, content management, norrow casting en zoekmachine-optimalisatie</p>
                    </div>
                    <div class="col-12 mt-5 mt-sm-2 col-lg-6 col-md-4 col-sm-6">
                        <h2>Nick Graus</h2>
                        <p>Nettt interactieve media is een bedrijf uit Herkenbosch dat zich vooral bezighoudt met het realiseren van webdesign, web development, content management, norrow casting en zoekmachine-optimalisatie</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 mt-2">
                <div class="container mb-4 footer-social">
                    {% if social_media_menu is not empty %}
                        <div class="social-menu">
                            {{ social_media_menu }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below text-center">
        <div class="container">
            <div class="d-inline-block">
                <div class="mt-2 mb-2 copyright-text">© Copyright {{ "now"|date("Y") }} Nick Graus
                </div>
            </div>
        </div>
    </div>
</footer>