<div class="main-navigation-mobile d-block d-lg-none">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col text-left">
                <div class="logo">
                    <a href="{{site.url}}" title="{{site.name}}" rel="home"><img src="{{ site.theme.link }}/img/Footer/DPH_footer_logo.svg" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-7 text-right">
                <a class="hamburger navbar-toggler c-hamburger c-hamburger--htx" href="javascript:toggleMenu();void(0);">
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>