<div class="main-navigation d-none d-lg-block">
    <div class="container position-relative">
        <div class="header-top">
            <div class="row no-gutters">
                <div class="col-2">
                    <div class="logo-holder">
                        <div class="logo">
                            <a href="{{site.url}}" title="{{site.name}}" rel="home">
                                <img src="{{ site.theme.link }}/img/Header/logo-nettt.png" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="main-header">
                        <nav class="main">
                            {% include "components/menu.twig" with {'menu': menu_extra.get_items, 'recursive': true, 'class': 'main-list'} %}
                        </nav>
                        {% if social_media_menu is not empty %}
                        <div class="social-menu">
                            {{ social_media_menu }}
                        </div>
                        {% endif %}
{#                        <a class="d-inline-block hamburger navbar-toggler c-hamburger c-hamburger--htx" href="javascript:toggleMenu();void(0);">#}
{#                            <span></span>#}
{#                        </a>#}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>