<div class="block-holder">
    <div class="container">
        <div class="block-inner">
            <div class="title-holder">
                {% if block.title %}
                <h1>{{ block.title }}</h1>
                {% endif %}
                {% if block.subtitle %}
                    <span class="subtitle">{{ block.subtitle }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
