.block.block-hotspots {
  padding: 4rem 0;
  background: $gradient1;

  .block-holder {
    .hotspots-holder {
      .hotspot {
        .image-holder {
          .img-fluid {
            height:300px;
            width: 100%;
            object-fit: cover;
          }
        }
        .content {
          border: 2px solid $white;
          border-top: none;
          padding: 2rem;
          h2 {
            color: $white;
            font-size: 1.25rem;
          }
          .description {
            color: $white;
            font-weight: bolder;
          }
        }
      }
      .hotspot.front-page {
        margin: 1rem 0;
        display: block;
        position: relative;
        background-color: $white;
        border: 2px solid transparent;
        .content {
          border: none;
          height: 100%;
          .extra {
            color: $color1;
            font-weight: bolder;
            position: absolute;
            bottom: 1rem;
            right: 2rem;
          }
        }
        &:hover {
          background-color: transparent;
          border: 2px solid $white;
          .content {
            .title {
              h2 {
                color: $white;
              }
            }
            .description {
              color: $white;
            }
            .extra {
              color: $white;
            }
          }

        }
        .image-holder {
          overflow: hidden;
          img {
            //transition: .2s ease-in-out all
          }
        }
        .content {
          text-align: left;
          position: relative;
          padding: 2rem;
          .title {
            //transition: .2s ease-in-out all;
            width: 100%;
            h2 {
              font-size: 1.5rem;
              color: $color1;
              margin: 0;
              text-transform: uppercase;
            }
          }
          .description {
            color: $color1;
          }
        }

        &:hover {
          .image-holder {
            img {
              transform: scale(1.05);
            }
          }

          .content {
            .title {
              //background-color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1500px) {
  }
  @media only screen and (max-width: 991px) {

  }
  @media only screen and (max-width: 575px) {
  }
}