.block.block-text-image-slider {
  padding: 6rem 0;
  max-width: none;
  .image-slider {
    height: 100%;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
      }
    }
    .slick-dots{
      background:rgba(0,0,0,0.45);
      bottom:0;
      padding:0.375rem 1rem;
      li {
        button {
          &:before {
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            border: 1px solid $white;
            border-radius: 50%;
          }
        }
        &.slick-active{
          button {
            &:before {
              background: $white;
            }
          }
        }
      }
    }
  }
  .image-text-holder {
    padding: 0;
    &.image-right {
      .content-holder {
        padding: 0 4rem 0 0;
      }
    }

    &.image-left {
      .content-holder {
        padding: 0 0 0 4rem;
      }
    }

    .content-holder {
      background-position: left center;
      background-size: cover;
      background-repeat: no-repeat;
      vertical-align: middle;
      position: relative;

      .inner-content {
        max-width: 750px;
        z-index: 2;
      }

      h2 {
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 2rem;
      }

      .title-holder h2 {
        margin-bottom: 0;
      }

      h3 {
        display: inline-block;
        margin-bottom: 2rem;
        font-weight: 100 !important;
        text-transform: uppercase!important;
      }


      h1 {
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 2.625rem;
      }

      .text {
        margin: 0 0 1.4rem 0;
      }

      .block-button {
        display: inline;
      }
    }

    .image-holder {
      overflow: hidden;
      a{
        display: block;
        height:100%;
      }
      .zoom-image{
        position: absolute;
        top:50%;
        left:0;
        right:0;
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left:auto;
        transform: translateY(-50%);
        img{
          width:2rem;
          display: inline-block;
          height:auto;
        }
      }
      img {
        max-width: none;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    padding: 4rem 0;
    text-align: center;
    .image-text-holder {
      padding: 0;

      .content-holder {
        padding: 2rem 0 !important;
      }

      .grid-holder {
        padding: 2rem 2rem !important;
      }

      .image-holder {
        max-height: 400px;
      }

      .small-images {
        margin: 1rem 2rem;
        height: auto;
      }

      .large-image-holder {
        margin: 1rem 2rem;
        height: auto;
        min-height: unset;
      }
    }
    .image-slider {
      .slick-list {
        .slick-track {
          height: auto;
        }
      }
    }
  }
  @media only screen and (max-width: 575px) {
    padding: 2rem 0;
    .image-text-holder {
      padding: 0;

      .content-holder {
        padding: 0 1rem !important;
      }

      .grid-holder {
        padding: 1rem 2rem !important;

        .col-4 {
          margin-top: 1rem;
        }
      }
    }
  }
}

.page-id-147{
  .block.block-text-image-slider {
    .image-slider {
      .slick-dots {
        background: transparent;
        bottom: -4px !important;
        li{
          margin:0!important;
          button {
            &:before {
              content: "";
              width: 0.675rem;
              height: 0.675rem;
              border: 2px solid $black;
              border-radius: 50%;
            }
          }
          &.slick-active{
            button {
              &:before {
                opacity: 1;
                background: $black;
              }
            }
          }
        }
      }
    }
  }
}