.block.block-news {
  max-width: none;
  padding: 4rem 0;
  margin: 0;
  text-align: center;

  .news-bg:before {
    content: "";
    background: url("../img/Footer/letter_D_footer_background.svg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60rem 60rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    overflow: hidden;
    filter: contrast(80%);
  }

  .title-holder {
    display: inline-block;
    h2 {
      color: $black;
    }
  }


  .subtitle {

    h2, h3, h4 {

      font-weight: 100 !important;
      font-size: 24px;
      margin-top: -1rem;

    }
  }

  .news-holder {
    padding: 2rem 0;
  }

  @media only screen and (max-width: 575px) {
    padding: 2rem 0;
  }
}
