.block.block-hotspots {
  padding: 4rem 0;
  background: $color3;
  max-width: none;

  .block-holder {
    .hotspots-holder {
      .hotspot {
        margin: 1rem 0;
        display: block;
        position: relative;

        .image-holder {
          overflow: hidden;

          img {

            transition: .2s ease-in-out all

          }
        }

        .content {
          text-align: left;
          position: relative;

          .title {
            position: absolute;
            bottom: 0;
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.4);
            transition: .2s ease-in-out all;
            width: 100%;

            h2 {
              font-size: 1.25rem;
              color: $white;
              margin: 0;
              text-transform: uppercase;
            }
          }
        }

        &:hover {
          .image-holder {
            img {
              transform: scale(1.05);
            }
          }

          .content {
            .title {
              background-color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    .block-holder {
      .hotspots-holder {
        padding: 1rem 1.5rem;

        .col-hotspot {
          padding-left: 7.5px;
          padding-right: 7.5px;
        }

        .hotspot {
          display: block;

          .v-table {
            .content {
              h2 {
                font-size: 2.5vw;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .block-holder {
      .hotspots-holder {
        padding: 1rem;

        .col-hotspot {
          padding-left: 15px;
          padding-right: 15px;
        }

        .hotspot {
          margin: 1rem 0;
          display: block;
          padding: 0 !important;
          height: auto;

          .v-table {
            padding: 1rem;
            transition: 0.5s ease-in-out all;
            opacity: 1 !important;

            .content {
              h2 {
                font-size: 2rem;
              }

              .foldout {
                margin-top: 1rem;
                display: block !important;
              }

              .text {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 575px) {
    .block-holder {
      .hotspots-holder {
        padding: 0.5rem 0;

        .hotspot {
          margin: 0.5rem 0;

          .v-table {
            .content {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}