.block.block-hotspots {
  padding: 4rem 0;
  background: $gradient1;

  .block-holder {
    .hotspots-holder {
      .hotspot {
        display: block;
        margin: 1rem 0;
        position: relative;
        border: 2px solid $white;

        &:hover {
          background-color: $white;
          .content {
            h2, .description, .extra {
              color: $color1;
            }
          }
        }
        .content {
          padding: 2rem;
          border-top: 2px solid white;
          h2, .description, .extra {
            color: $white;
          }
        .image-holder {
          overflow: hidden;
          img {
            //transition: .2s ease-in-out all
          }
        }
          .image-holder {
            img {
              transform: scale(1.05);
            }
          }
        }
        &.front-page {
          background-color: $white;
          border: 2px solid $white;
          h2, .description, .extra  {
           color: $color1;
           font-weight: bolder;
          }
          .extra {
            position: absolute;
            bottom: 1rem;
            right: 2rem;
          }
          &:hover {
            background-color: transparent;
            .content {
              background: transparent;
              h2, .description, .extra {
                color: $white;
              }
            }
          }
        }
        .image-holder {
          .img-fluid {
            height:300px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1500px) {
  }
  @media only screen and (max-width: 991px) {

  }
  @media only screen and (max-width: 575px) {
  }
}